fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
psycopg[binary]
email-validator>=2.0.0
pytest
loguru
prometheus_client
redis
celery
sentry-sdk
alembic
pandas
flower
slowapi
bcrypt
pydantic-settings
python-multipart
passlib[bcrypt]
python-jose
httpx
authlib
itsdangerous
elastic-apm